<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1014210515900-u7j2rkmc7qlbore9ql04u3ad0mipo633.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1014210515900-u7j2rkmc7qlbore9ql04u3ad0mipo633</string>
	<key>API_KEY</key>
	<string>AIzaSyAPtnxMBhu7dwGDKxo84PcJ6HK0VLzLr0k</string>
	<key>GCM_SENDER_ID</key>
	<string>1014210515900</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.coach.itscode.dev</string>
	<key>PROJECT_ID</key>
	<string>coach-dev-e546d</string>
	<key>STORAGE_BUCKET</key>
	<string>coach-dev-e546d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014210515900:ios:7df2c19c603e329013d1b9</string>
</dict>
</plist>